aside > .title {
  display: flex;
  justify-content: left;
  align-items: center;
}

aside > .title > span > .version {
  font-weight: var(--main-text-font-weight);
  font-size: var(--aside-version-font-size);
  margin-left: 4px;
  color: var(--aside-version-color);
  align-self: self-end;
}

aside > .title > span > .text {
  font-weight: var(--main-title-font-weight);
  font-size: var(--aside-title-font-size);
  color: var(--main-title-color);
  margin-left: 8px;
}
